In [1]:
import pandas as pd
datos = pd.read_excel('C:/Users/ERIC/Desktop/Jupyter/Untitled Folder/SEMANAL DEMANDA ELÃ‰CTRICA PARA CONCENTRADO SIN.xlsx')
datos_d = pd.DataFrame(datos)
datos_d.head(10)

   Semana          2018          2019          2020
0       1  27204.439167  26604.439167  26881.479271
1       2  30104.272826  29504.272826  29886.869444
2       3  29528.502239  28928.502239  30891.726607
3       4  29130.309701  28530.309701  30695.283274
4       5  30018.986894  29389.339286  30597.114702
5       6  28783.619758  29056.125000  29562.991369
6       7  29723.198095  29110.491803  30876.724313
7       8  30185.401290  29585.401290  30870.356881
8       9  31418.770636  30818.770636  30471.139360
9      10  31015.287917  30415.287917  30709.000000

In [12]:
datos.tail(10)

    Semana          2018          2019         2020
43      44  30110.302931  27308.491722  36132.56576
44      45  30261.707317  31605.441698  36237.25000
45      46  30585.858527  31525.618864  36449.42176
46      47  29498.089286  31351.463168  36781.16324
47      48  29526.476190  31404.890655  37242.76864
48      49  29587.885357  30978.619702  37842.28096
49      50  29968.427171  30715.428650  38585.00000
50      51  29485.242147  31415.204887  39472.96156
51      52  26131.663690  26880.132857  40504.38784
52      53  25757.260417  26880.951389  41673.10904

In [31]:
datos[2018]

0     27204.439167
1     30104.272826
2     29528.502239
3     29130.309701
4     30018.986894
5     28783.619758
6     29723.198095
7     30185.401290
8     31418.770636
9     31015.287917
10    31458.143957
11    32365.860833
12    30230.374881
13    31348.499760
14    32718.022321
15    32638.377202
16     6913.593750
17    32763.938750
18    33853.209167
19    34979.283214
20    35554.623571
21    37554.359868
22    37649.953631
23    36606.543826
24    36912.786241
25    37319.658916
26    35482.455893
27    33003.835436
28    35777.226835
29    37627.489745
30    36739.412975
31    36083.128086
32    35132.311760
33    36130.665238
34    34988.223956
35    34594.091069
36    33377.899712
37    34440.616905
38    33264.623271
39    33611.013988
40    32294.272321
41    31496.293548
42    31920.359756
43    30110.302931
44    30261.707317
45    30585.858527
46    29498.089286
47    29526.476190
48    29587.885357
49    29968.427171
50    29485.242147
51    26131.663690
52    25757.260417
Name: 2018, dtype: float64

NameError: name 'plt' is not defined