In [36]:
import tensorflow as tf
import pandas as pd
from bokeh.plotting import figure, output_file, show
from bokeh.models import HoverTool
import matplotlib.pyplot as plt

# read the data from excel HOME
#data = pd.read_excel('C:/Users/ERIC/Desktop/Jupyter/Forecast PML/Forecast_Demand/Forecaste_PML_Daily_b.xlsx')

# read the data from excel ORCA
data_mda = pd.read_excel('C:/Users/Operaciones F/Forecast_Demand/PML_AÑO_HORA_DIA.xlsx',2)
data_mtr = pd.read_excel('C:/Users/Operaciones F/Forecast_Demand/PML_AÑO_HORA_DIA.xlsx',3)
'''
# output to static HTML file
output_file("PML2018.html")

# create a new plot with a title and axis labels
p = figure(title="PML's DAILY BEHAVIOUR 2018", x_axis_label='TIEMPO [MESES]', y_axis_label='[$ / MWh ]')

# add the data

p.line(data['MES'], data['lun_18'], legend_label = "Lunes 2018", color = 'blue')

# show the results
show(p)

'''
from keras.models import Sequential
from keras.layers import Dense, Input, Add
# Specify the type of model
model = Sequential()

x_train = [data_mda[1],data_mda[2],data_mda[3],data_mda[4],data_mda[5],data_mda[6],data_mda[7],data_mda[8],data_mda[9],
          data_mda[10],data_mda[11],data_mda[12],data_mda[13],data_mda[14],data_mda[15],data_mda[16],data_mda[17],data_mda[18],
          data_mda[19],data_mda[20],data_mda[21],data_mda[22],data_mda[23], data_mda[24]] 
y_train = [data_mtr[1],data_mtr[2],data_mtr[3],data_mtr[4],data_mtr[5],data_mtr[6],data_mtr[7],data_mtr[8],data_mtr[9],
           data_mtr[10],data_mtr[11],data_mtr[12],data_mtr[13],data_mtr[14],data_mtr[15],data_mtr[16],data_mtr[17],data_mtr[18],
           data_mtr[19],data_mtr[20],data_mtr[21],data_mtr[22],data_mtr[23],data_mtr[24]]
# Create the layers
#Input
model.add(Dense(50, activation='relu', input_shape = (24,)))
#Hidden layer
model.add(Dense(100, activation='relu'))
#Output
model.add(Dense(1))

# Create the model



# Compile the model
model.compile(optimizer = tf.keras.optimizers.Adam(0.01), loss = ['mean_absolute_error'], metris =['accuracy'])

KeyError: 24

In [31]:
data_mda.head()

,Día_semana,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,lun,1202.258113,1037.860566,933.064906,848.864340,819.672264,882.501509,1137.156415,1390.206792,1545.079811,...,1855.264528,1908.982830,1960.367736,1885.376792,1870.874151,1893.785849,1898.984151,1922.784151,1777.030000,1619.825472
1,mar,1472.483077,1318.638462,1236.438846,1174.510962,1145.541346,1199.403269,1413.986731,1578.744615,1658.415962,...,1927.420577,1995.790385,2007.344808,2012.737500,1941.298462,1909.660385,1957.454423,1968.411154,1855.838269,1645.854808
2,mié,1485.067885,1291.896731,1217.049231,1149.723077,1137.770769,1189.931154,1402.779231,1568.082115,1687.662115,...,1869.480577,2018.637308,2037.360769,1914.157692,1914.178077,1866.009231,1956.900192,1923.332308,1837.352692,1629.675769
3,jue,1515.143077,1410.290000,1331.845385,1239.926154,1204.337885,1274.647115,1497.892115,1618.274231,1772.094231,...,2029.776154,1983.916731,1998.918269,1933.264038,1945.647692,1959.486731,1960.989038,1907.955577,1884.371346,1785.887500
4,vie,1578.234038,1436.728846,1339.890385,1285.532885,1248.115577,1332.244231,1534.662692,1662.786538,1808.911923,...,1952.057692,1941.272692,2014.973462,1897.360577,1877.016538,1856.530385,1868.296346,1840.430577,1839.779615,1669.361346

In [30]:
data_mtr.head()

,Día_semana,1,2,3,4,5,6,7,8,9,...,15,16,17,MTR_18_18,18,19,20,21,22,23
0,lun,1256.900943,1096.552075,1038.304717,975.072642,970.330566,1056.575283,1291.593396,1477.522075,1649.510189,...,2013.697736,1968.240755,2056.356415,1940.321887,1922.524151,2043.089245,2004.071509,1959.256415,1827.009057,1715.525660
1,mar,1567.780000,1428.244231,1356.023846,1265.321538,1242.109231,1316.708269,1484.561154,1641.489231,1822.248654,...,2195.040577,2112.190769,2265.365769,2201.641538,2150.605385,2174.212692,1989.436154,1954.686538,1839.795577,1696.318462
2,mié,1618.186923,1448.231923,1372.333269,1302.569423,1309.647308,1411.086731,1586.115385,1699.416346,1838.227308,...,2111.707115,2085.904038,2152.791731,2108.766923,2081.920192,2140.726538,2157.629038,2030.127115,1965.983462,1763.895385
3,jue,1674.813654,1479.475962,1420.930769,1334.448269,1338.754615,1430.537885,1598.042115,1708.516538,1862.015577,...,2240.281538,2231.257500,2218.901538,2263.689423,2156.129615,2284.229231,2198.998654,2145.371154,2068.247692,1892.052885
4,vie,1607.609231,1495.518846,1435.727115,1351.023846,1323.593077,1405.129231,1577.184615,1672.420000,1815.689423,...,2082.961538,2189.486538,2157.458269,2128.605192,2075.607115,2012.699038,1921.437500,1869.612500,1765.015577,1658.832115